.margin {
  margin-top:5px;
}

.buttons {
  margin-right:5px;
  margin-top:10px;
  padding:5px;
  background-color: #5477AA;
  cursor:pointer;
  font-size:24px;
  font-weight: bold;
}

.result {
  font-size:24px;
  font-family: "Arial Black", Gadget, sans-serif;
  padding:5px;
  margin-top:10px;
  width:175px;
  background-color: #267F00;
  color: #000000;
  display:inline-block;
  text-align:right;
}

input {
  text-align:right;
}